.game-title {
  margin-top: 1%;
}
#board-space {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin: 0 0 auto;
}

.dropdown {
  display: flex;
  flex-direction: row;
  margin: 20px 5px;
  text-align: center;
  overflow: auto;
  background-color: rgba(135,206,250,.2);
  padding: 8px;
}

ul, input, select, label {
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px 10px;
  margin: 0 auto;
}
ul {
  width: 25%;
}
.empty {
  width: 5%;
}
#instruct {
  font-weight: lighter;
  text-align: left;
}
li {
  list-style-type: none;
}
#board-grid {
  background-color: blue;
  border: 3px solid black;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: bold;
  grid-template-columns: repeat(7, minmax(100px,1fr));
  grid-template-rows: repeat(6, minmax(100px,1fr));
  height: 600px;
  margin: 0 auto;
  width: 700px;
}

.cell {
  align-items: center;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%
}

.cell-circle {
  min-height: 95%;
  min-width: 95%;
  border-radius: 100%;
  background-color: white;
}

#color1, #color2 {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 1px solid black;
  margin-right: 20px;
}

.active-player, .banner {
  background-color:rgba(255, 255, 224, .4);
}

.top-row {
  background-color:rgb(241, 239, 180);
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.chartreuse {
  background-color: chartreuse;
}
.gray {
  background-color: gray;
}